<div class="col-11 col-xl-5 col-lg-10 col-xxl-5 d-flex bg-light p-1 flex-column " id="video-area">
  <div class="col-12 d-flex justify-content-between" id="btn-section">
    <div class="p-2">
      <label class="btn"
       [style.borderColor]="queActive ? 'black' : 'white'"
       (click)="queClickHandler()"
      >QUE</label>
      <label class="btn "
       [style.border-color]="queActive ? 'white' : 'black'"
        (click)="completedClickHandler()"
      >COMPLETED</label>
    </div>
    <div class="p-2">
    <label class="btn" (click)="callToggleShow()" >CLOSE</label>
    </div>
  </div>
  <div id="video-container" class="col-12 d-flex  align-items-center flex-row g-2">
    <div class="col-12 d-flex flex-column" id="video-wrapper1" #videoWrapper1>
      <app-video-item></app-video-item>
    </div>
    <div class="col-12 d-flex flex-column" id="video-wrapper2" #videoWrapper2>
      hi
    </div>
  </div>
</div>
