<form id="form"
      class="d-flex justify-content-start align-items-start flex-column col-12 gap-2 p-5"
      (ngSubmit)="submitHandler()"
>
  <div class="col-12 bg-dark">
    <input type="text"
           [(ngModel)]="url"
           class="form-control col-12 p-2"
           id="exampleUrl"
           aria-describedby="urlHelp"
           placeholder="Paste Post Url Here"
           name="url"
    >
  </div>
  <button type="submit" class="btn  p-2 col-12 col-xl-5 col-lg-5">CONVERT TO VIDEO</button>
  <section CLASS="d-flex justify-content-end align-items-end flex-row col-12 gap-4" id="labels">
    <label  class="text-light" (click)="callToggleShow()" >VIDEOS</label>
    <label class="text-light">|</label>
    <label class="text-light">FAQ</label>
  </section>
</form>
