<section class="col-12 p-2 d-flex flex-row p-1">
  <p class="col-10 col-xxl-11 col-lg-11 col-xl-11 col-md-11 p-0  m-0">How to design a modern CI/CD Pipeline </p>
  <div class="text-success col-2 col-xxl-1 col-lg-1 col-xl-1 col-md-1 d-flex flex-column align-items-center" id="download">
<!--    <i class="fa-regular fa-circle-down "></i>-->
    <i class="fa-solid fa-spinner fa-spin"></i>
    <p class="text-success">DOWNLOAD</p>
<!--    <button (click)="sampleSend()">SEND</button>-->
  </div>




</section>
